.place__website__link {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #fff;
  transition: opacity .3s linear;
}

.place__website__link:hover {
  opacity: 0.6;
}