.place__website_url-heading {
  margin: 0;
  margin-bottom: 0.75rem;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 0.75rem;
  letter-spacing: 0.2em;
  color: #aaa;
}