.place {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 1fr;
  grid-column-gap: 2.5rem;
}

@media (max-width: 1024px) {
  .place {
	grid-column-gap: 2rem;
  }
}

@media (max-width: 768px) {
  .place {
	grid-column-gap: 1.75rem;
  }
}

@media (max-width: 320px) {
  .place {
	display: flex;
	flex-direction: column;
  }
}
