.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(100% - (3rem + 3rem));
  margin: auto;
  margin-top: 5.75rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .footer {
	max-width: calc(100% - (1.5rem + 1.5rem));
  }
}

@media (max-width: 320px) {
  .footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    align-items: flex-start;
	width: fit-content;
	margin-top: 4rem;
	margin-left: 1rem;
  }
}